html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@font-face {
  font-family: 'bebas_neueregular';
  src: url("../fonts/bebasneue_regular.woff2") format("woff2"), url("../fonts/bebasneue_regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url("../fonts/bebasneue_bold.woff2") format("woff2"), url("../fonts/bebasneue_bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ciclefina';
  src: url("../fonts/cicle_fina.woff2") format("woff2"), url("../fonts/cicle_fina.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ciclefina_italic';
  src: url("../fonts/cicle_fina_italic.woff2") format("woff2"), url("../fonts/cicle_fina_italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborate-regularregular';
  src: url("../fonts/colabreg.woff2") format("woff2"), url("../fonts/colabreg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborate-thinregular';
  src: url("../fonts/colabthi.woff2") format("woff2"), url("../fonts/colabthi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'ciclefina';
  font-size: 14px;
  font-weight: 400;
  color: #000000;
  background-color: #FFFFFF;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.55)), to(rgba(255, 255, 255, 0.55))), url(../img/bg.png);
  background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url(../img/bg.png);
}

.container {
  width: 1044px;
  margin: 0 auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 137px;
}

.main-navigation {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation__subscribe {
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.logo__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 41px;
  color: #000000;
  line-height: 41px;
}

.logo__text_bold {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.site-navigation__item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  padding-left: 17px;
}

.site-navigation__item:not(:first-child) {
  margin-left: 15px;
}

.site-navigation__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5.55px;
  width: 7px;
  height: 5px;
  background-image: url(../img/arrow-right.png);
}

.site-navigation__link {
  font-family: 'ciclefina';
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation__link:hover {
  color: #FAA61A;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 410px;
  background-color: #FAA61A;
  border-top: 4px solid #FAA61A;
}

.subscribe__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 26px;
  border-left: 1px solid #ffffff;
}

.subscribe__link:hover, .subscribe__link:focus {
  fill: #ffffff;
}

.subscribe-form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0 21px;
  border-bottom: 6px solid #FAA61A;
}

.subscribe-form__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.subscribe-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
  border: 1px solid transparent;
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.subscribe-form__input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.subscribe-form__input:hover, .subscribe-form__input:focus {
  border: 1px solid #000000;
  outline: none;
}

.subscribe-form__button {
  margin-left: 10px;
  background-color: transparent;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.subscribe-form__button:hover, .subscribe-form__button:focus {
  color: #ffffff;
}

.tw-link__svg {
  width: 18px;
  height: 13px;
}

.fa-link__svg {
  width: 8px;
  height: 16px;
}

.media {
  width: 945px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-left: 51px;
  padding-right: 48px;
  padding-bottom: 38px;
  background-color: #FAA61A;
}

.media__title {
  width: 945px;
  margin: 0;
  padding: 0;
  font-family: 'bebas_neuebold';
  font-size: 100px;
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects__featured {
  width: 635px;
  height: 364px;
  background-color: #030200;
}

.projects__description {
  width: 280px;
  height: 364px;
  background-color: #FFFFFF;
}

.featured {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.featured__wrap-img {
  position: relative;
}

.featured__img {
  width: 435px;
  height: 364px;
}

.featured__play-svg {
  position: absolute;
  top: 147px;
  left: 208px;
  cursor: pointer;
}

.featured__play-svg:hover, .featured__play-svg:focus {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.75));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.75));
}

.featured__info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 160px;
  padding: 20px 20px;
  background-color: #030200;
}

.featured__heading {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0 3px;
  font-family: 'bebas_neuebold';
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  background-color: #ffffff;
}

.featured__description {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding: 0 3px;
  font-family: 'colaborate-thinregular';
  font-size: 20px;
  color: #ffffff;
}

.featured__description_mf {
  font-size: 14px;
}

.featured__list {
  position: absolute;
  left: 25px;
  bottom: 10px;
}

.featured__inscription {
  position: absolute;
  top: 17px;
  left: -23px;
  display: inline-block;
  padding: 5px 10px;
  font-family: 'ciclefina_italic';
  font-size: 28px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.8);
}

.list-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 281px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-slide__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.list-slide__link {
  display: block;
  position: relative;
}

.list-slide__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.list-slide__link:hover::before, .list-slide__link:focus::before {
  opacity: 0;
}

.list-slide__img {
  display: block;
  width: 87px;
  height: 46px;
  color: #ffffff;
  background-color: #000000;
}

.description__title {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  font-family: 'bebas_neuebold';
  font-size: 28px;
  font-weight: normal;
}

.description__img {
  display: block;
  margin-bottom: 20px;
}

.description__text {
  margin: 0;
  margin-bottom: 15px;
  padding: 0 15px;
  font-family: 'colaborate-regularregular';
  font-size: 16px;
}

.description__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.description__button {
  margin-right: 5px;
}

.button {
  position: relative;
  display: inline-block;
  padding: 5px;
  padding-right: 33px;
  background-color: #000000;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 28px;
  height: 100%;
  background-color: #FAA61A;
}

.button::after {
  content: '';
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 12px;
  height: 10px;
  background-image: url(../img/arrow-right-2.png);
}

.button__text {
  font-family: 'colaborate-regularregular';
  font-size: 14px;
  color: #ffffff;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}

.services {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 286px;
  padding-top: 20px;
  padding-bottom: 26px;
  border-right: 1px solid #CACACA;
}

.services__wrap {
  position: relative;
  min-height: 285px;
  padding: 20px 20px 20px 42px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.services__wrap::before, .services__wrap::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/angle.png);
  z-index: 2;
}

.services__wrap::before {
  top: -11px;
  right: -9px;
}

.services__wrap::after {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  bottom: -12px;
  right: -9px;
}

.services__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'bebas_neueregular';
  font-size: 20px;
}

.services__title_color_ore {
  color: #FAA61A;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  padding-left: 35px;
}

.services__item:not(:last-child) {
  margin-bottom: 15px;
}

.services__item::before {
  content: '';
  position: absolute;
  left: 3px;
  top: 1.35px;
  width: 21px;
  height: 17px;
  background-color: #FAA61A;
}

.services__item::after {
  content: '';
  position: absolute;
  left: 8px;
  top: 4.85px;
  width: 12px;
  height: 10px;
  background-image: url(../img/arrow-right-2.png);
}

.services__link {
  font-family: 'ciclefina';
  font-size: 18px;
  color: #000000;
}

.services__link:hover, .services__link:focus {
  text-decoration: underline;
}

.know {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 421px;
  padding-top: 20px;
  padding-bottom: 26px;
  border-right: 1px solid #CACACA;
}

.know__wrap {
  position: relative;
  min-height: 285px;
  padding: 20px 20px 20px 42px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.know__wrap::before, .know__wrap::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/angle.png);
  z-index: 2;
}

.know__wrap::before {
  top: -11px;
  right: -9px;
}

.know__wrap::after {
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
  bottom: -12px;
  right: -9px;
}

.know__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'bebas_neueregular';
  font-size: 20px;
}

.know__title_color_ore {
  color: #FAA61A;
}

.know__text {
  font-size: 16px;
  line-height: 24px;
}

.know__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 335px;
  padding-top: 20px;
  padding-bottom: 26px;
}

.contact__wrap {
  min-height: 285px;
  padding: 20px 34px 20px 49px;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
}

.contact__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'bebas_neueregular';
  font-size: 20px;
}

.contact__title_color_ore {
  color: #FAA61A;
}

.contact__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact__item {
  position: relative;
  height: 28px;
}

.contact__item:not(:last-child) {
  margin-bottom: 7px;
}

.contact__text {
  display: inline-block;
  padding: 3px;
  margin-left: 43px;
  margin-bottom: 3px;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
}

.contact__text_beb {
  font-family: 'bebas_neueregular';
}

.contact__svg {
  position: absolute;
  overflow: hidden;
}

.svg-phone {
  left: 2px;
}

.svg-envelope {
  left: 2px;
}

.svg-house {
  left: 1px;
}

.clients {
  width: 952px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-left: 39px;
  padding-right: 53px;
}

.clients__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: 'bebas_neueregular';
  font-size: 20px;
}

.clients__title_color_ore {
  color: #FAA61A;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}

.clients__img {
  display: block;
}
/*# sourceMappingURL=style.css.map */